/tmp-build/
/tmp-build-tests/
/csheets.xml
/doc/api/
/res/
/nbproject/private/
/build.xml
/manifest.mf
/build/
/nbdist/
/build.xml
/nbproject/genfiles.properties
/src/csheets/ext/comments/doc-files/*
/src/csheets/ext/simple/doc-files/*
/scripts/csheets.xml
/scripts/c.lst
/dist/*
/.classpath
